<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/jquery-1.11.3.js}"></script>
    <title>华创点名器</title>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>华创点名器</h1>
    </div>

    <div id="name">谁是幸运儿?</div>
    <div id="states" style="display:none">
        <div class="ui input focus" style="position:absolute;left:50%;top:35%;transform:translate(-50%,-50%)">
            <input type="text" id="state" placeholder="请输入学生状态...">
        </div>
        <input type="button" value="提交" onclick="tijiao()" id="tijiao"/>
    </div>
    <button id="startBtn" onclick="start()">开始点名</button>
    <button id="endBtn" onclick="end()">结束点名</button>
    <div class="exportToFile">
        <button id="exportToExcel"><a th:href="@{/exportToExcel}">导出为Excel</a></button>
    </div>
    <div class="create"><strong>©2021/10/28 Create By 张宇航</strong></div>
</div>
</body>
</html>